body{
	background: #EEEEEE;
	font-family: 'Tw Cen MT';
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	
}
ul{
	padding: 0px;
}
aside#sidebar{
	width:25%;
	height:100vh;
	background:#fff;
	position: fixed;
}
header{
	background:#0a73bc;
	padding-top: 20px;
	box-shadow: 1px 1px 1px 1px rgba(193,192,1);
	text-align:center;
}
div.avatar{
	background:#fff;
	width:150px;
	height:150px;
	border-radius: 100%;
	margin: 0 auto;
	box-shadow: 1px 1px 1px 1px rgba(82,81,1);
}
div.text{
	padding-top: 10px;
	padding-bottom: 10px;
}
.head{
	color:#fff;
}
section#skill{
	padding:20px 10%;
}
.skill_header{
	font-family: "";
	color: #6d6d6d;
}
ul#list-skill{
	display: block;
	list-style-type: none;
	overflow-y:scroll;
	height:200px;
}
li.each-skill{
	display:block;
	padding: 5px 0;

}
h3.sub-skill{
	color: #6d6d6d;
	font-size: 18px;
	padding: 5px 0;
}
div.level{
	width:100%;
	height: 10px;
	background:#E0E0E0;
	border-radius: 10px;
	overflow: hidden;
}
div.level-90{
	height: 10px;
	background: #0a73bc;
	width: 90%;

}
div.contain{
	
}
header#head{
	background: #ffffff;
	width:75%;
	left:25%;
	position:relative;
	padding: 0 0;
	box-shadow: 0px 0px 27px 0px rgba(182,82,182,0.83);
	
}
h1:after{
	content: "";
	display:block;
	clear: both;
}
div#contact-me,div#about-me{
	padding:20px 10px;
	float: left;
	width: 45%;
}
div#about-me{
	border-left: 1px solid #ccc;
}
h1.info-head{
	color:#0A73BC;
}
.info-about{
	color: #8a8a8a;
	font-size: 16px;
}
ul.list-contact{
	list-style-type: none;
	padding: 5px 0;
}
li.contact-info{
	display: block;
	font-size: 16px;
	color: #8a8a8a;
	margin-right: 10px;
}
section#bio{
	background: #fff;
	width: 80%;
	margin:20px auto;
	padding:10px;
}
h1.name{
	margin: 180px 0px 0px 217px;
}
p.desg{
	margin: 10px 0px 0px 222px;
}
div.desc{
	margin-left:260px;
}
h1.edu{
	background-color:rgba(92, 140, 255, 1);
}
ul.edu-list{
	list-style-type: none;
}
.edu-info{
	background: rgba(236, 224, 224, 1);
}

